# gradle
./Fabric_Mod/.gradle/
./Fabric_Mod/build/
./Fabric_Mod/out/
./Fabric_Mod/classes/

# eclipse
./Fabric_Mod/*.launch

# idea
./Fabric_Mod/.idea/
./Fabric_Mod/*.iml
./Fabric_Mod/*.ipr
./Fabric_Mod/*.iws

# vscode
./Fabric_Mod/.settings/
./Fabric_Mod/.vscode/
./Fabric_Mod/bin/
./Fabric_Mod/.classpath
./Fabric_Mod/.project

# macos
./Fabric_Mod/*.DS_Store

# fabric
./Fabric_Mod/run/

# java
./Fabric_Mod/hs_err_*.log
./Fabric_Mod/replay_*.log
./Fabric_Mod/*.hprof
./Fabric_Mod/*.jfr
Fabric_Mod/build/loom-cache/remapped_working/net_fabricmc_yarn_1_21_4_1_21_4_build_8_v2.net.fabricmc.fabric-api-fabric-key-binding-api-v1-1.0.57+7d48d43904-sources.jar
